<div class="background-image-container">
  <img src="./assets/images/loginPage.jpeg" alt="Background" class="login-background-image">
</div>

<div class="container-fluid min-vh-100 d-flex flex-column align-items-center justify-content-center login-form-overlay">
  <div class="logo-container">

  <img src="/assets/images/rookierise.png" alt="Rookie Rise Logo" class="rookie-rise-logo mb-4">
</div>

  <div class="login-card shadow-lg rounded overflow-hidden">
    <div class="w-100 p-4">

      <h4 class="text-center mb-2 login-title">Forgot Password</h4>
      

      <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>

      <form [formGroup]="sendOtpForm"  (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            formControlName="email"
            placeholder="Enter your email address"
          />
          <div *ngIf="sendOtpForm.get('email')?.touched && sendOtpForm.get('email')?.invalid"
               class="validation-error-message">
            <div *ngIf="sendOtpForm.get('email')?.errors?.['required']">
              <i class="bi bi-exclamation-circle-fill me-1"></i> Email is required
            </div>
            <div *ngIf="sendOtpForm.get('email')?.errors?.['email']">
              <i class="bi bi-exclamation-circle-fill me-1"></i> Invalid email format
            </div>
          </div>
        </div>

        <div class="d-grid mb-3">
          <button type="submit" [disabled]="sendOtpForm.invalid" class="btn btn-primary login-btn">
            Send Reset Link
          </button>
        </div>
      </form>

      <div class="text-center">
        <a [routerLink]="['/login']" class="back-to-login">← Back to Login</a>
      </div>

    </div>
  </div>
</div>