<div class="background-image-container">
  <img src="./assets/images/loginPage.jpeg" alt="Background" class="login-background-image">
</div>
<div class="container-fluid min-vh-100 d-flex flex-column align-items-center justify-content-center login-form-overlay">
  <img src="assets/images/rookierise.png" alt="Rookie Rise Logo" class="rookie-rise-logo mb-4">
<div class="login-card shadow-lg rounded overflow-hidden">
 <div class="w-100 p-4">

      <h4 class="text-center mb-2 login-title">Verify OTP</h4>
    <!-- Notifications -->
    <div *ngIf="successMessage" class="alert alert-success" role="alert">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>

    <form [formGroup]="verifyOtpForm" (ngSubmit)="onSubmit()">
       <div class="mb-3">
        <label class="form-label" for="otp">Enter OTP</label>
        <input class="form-control" id="otp" type="text" formControlName="otp" placeholder="Enter the OTP code" />
        <div class="error" *ngIf="verifyOtpForm.get('otp')?.invalid && verifyOtpForm.get('otp')?.touched">
          <small *ngIf="verifyOtpForm.get('otp')?.errors?.['required']">OTP is required</small>
        </div>
      </div>

      <div class="timer" *ngIf="timer > 0">Time remaining: {{ timer }}s</div>
      <div class="timer expired" *ngIf="timer === 0">OTP expired</div>

      <button type="submit" class="btn btn-primary login-btn" [disabled]="verifyOtpForm.invalid || isSubmitting">
        <span *ngIf="!isSubmitting">Verify</span>
        <i *ngIf="isSubmitting" class="fa fa-spinner fa-spin"></i>
      </button>
    </form>
  </div>
</div>
</div>